body{

  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Signika-black",sans-serif;
  font-weight: 400;

}
#title {
  width:100%;
  padding: 3% 10% 28rem 10%;
}
.container-fluid{
  padding : 1%;
}

/*Navbar*/
.navbar-brand{
  font-size: 2.5rem;
}
.nav-link{
  font-size : 1rem;
}

/*Dropdown-Menu-Btn*/

.btn-outline-light {
  color: #9fbcea;
  border-color: #9fbcea;
}
.btn-outline-light:hover {
  color:#ffff;
  background-color: transparent;
  border-color: #f8f9fa;
}
.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color:#ffff;
  background-color: transparent;
  border-color: #f8f9fa;
}

/*Dropdown-Menu*/

.dropdown{
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: center;
  min-width: 10rem;
  padding: 1rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: black;
  z-index :1;
  background-clip: padding-box;
  border: 1px solid #f8f9fa;
  border-radius: 0.25rem;
}
.dropdown-item {
  display:inline-block;
  width: 100%;
  padding-right:5rem ;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: black;
  z-index :1;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #0175d5;
  text-decoration: none;
  background-color: #f8f9fa;
}

/*Intro*/

.intro{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height:400px;
  width:96%;
  border-radius: 15px;
  margin : 2%;
  margin-left: 2%;
 z-index: 0;

}
.intro-cover{
    margin-top: 20px;
    border-radius: 10px;

}
.intro_col_2{
  font-size: 4rem;
  color:white;
  margin-top: 25px;
}
.download-button{
  margin : 2%;
  font-family: sans-serif;
}

/*middle-container*/

#Singer
{

  position: relative;
  background-color: black;
}

/* angular-div */

.angular-div{
  height : 300px;
  width:100%;
  position:relative;
  bottom: 160px;
  transform : skewY(-5deg);
  background-color: black;
}

/* straight div */

.straight{
 background-color: black;
  width:100%;
  position:relative;
  bottom:220px;
  padding : 6% 10%;

}

/*carousel - icons */
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color:red;
	border-radius:28px;
	border:1px solid red;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:10px 38px;
	text-decoration:none;
  position: absolute;
  bottom :13px;
}
.carousel-control-prev-icon{
  left : 23px;
}
.carousel-control-next-icon{
  right : 23px;
}

/* carousel-content*/

.cap-1,.cap-3,.cap-5{
  left:800px;
  width : 500px;
  top : 8px;
}
.cap-2,.cap-4,.cap-6{
  left : 80px;
  width : 500px;
  top : 8px;
}
.b-c-1-1 , .b-c-1-2 ,.b-c-2-1 ,.b-c-2-2, .b-c-3-1 , .b-c-3-2{
    font-family: 'Playfair Display', serif;
    text-align: left;
}
.b-c-1-1 , .b-c-2-1 , .b-c-3-1{
  font-size : 300%;
  font-weight : 700;
}
.b-c-3-1 ,.b-c-3-2 ,.b-c-2-1 , .b-c-2-2{
  color : #f1efd4;
}
.b-c-1-1 , .b-c-1-2 {
  color: black;
}
.italic{
  color :red;
}

/* songs link button */

.myButton{

	background-color:#DC143C;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:2px 12px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#ff0011;
  color : white;
  text-decoration:none;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*parallax -2*/
.parallax-window {
    min-height: 600px;
    background: transparent;
    text-align: left;

    }
    .p-x-1 , .p-x-2{
      color : black;
      z-index: 2;
      font-family: "Signika-black",sans-serif;
      position: relative;
      text-align: center;
      top : 100px;
      left : 50px;
    }
    .p-x-1{
      font-weight: 700;
      font-size: 5rem;
    }
    .p-x-2{
      margin-top:100px;
      font-weight : 400;
      font-size : 2.5rem;

    }

/* mood */

.song-artist{

}
.container-inner{
  display : flex;
  justify-content : center;
  align-items: center;
  padding : 50px;
  background: #EFEEEE;
}
.neumorphism-1{
  margin : 20px;
  height : 400px;
  width:200px;
  background : #EFEEEE;
  border-radius: 15px;
  box-shadow: inset -4px -4px 7px #ffffff ,inset 4px 4px 5px #D1CDC7;
}
.neumorphism-2{
  margin: 20px;
  height : 400px;
  width:300px;
  background : #EFEEEE;
  border-radius: 15px;
  box-shadow:  -4px -4px 7px #ffffff , 4px 4px 5px #D1CDC7;
  margin : 0 5%;
}



/* for phone */

@media screen and (max-width : 1000px){

    #title{
      padding-bottom: 400px;
    }
    .intro{
      width:98%;
      margin-left: 1%;
    }
    .intro_col_2{
      text-align: center;
      background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
      border-radius: 15px;
      width:98%;
    }
    .intro-description{
      padding-top: 20px;
    }
    .angular-div{
      bottom: 20px;
      transform : skewY(0deg);

    }
  .carousel{
    padding-bottom : 100px;
  }


}
