body{
background-color: black;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Signika-black",sans-serif;
  font-weight: 400;

}
#title {
  width:100%;
  padding-bottom: 15%;
}
.container-fluid{
  padding : 1%;
}

/*Navbar*/
.navbar-brand{
  font-size: 2.5rem;
}
.nav-link{
  font-size : 1rem;
}

/*Dropdown-Menu-Btn*/

.btn-outline-light {
  color: #9fbcea;
  border-color: #9fbcea;
}
.btn-outline-light:hover {
  color:#ffff;
  background-color: transparent;
  border-color: #f8f9fa;
}
.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color:#ffff;
  background-color: transparent;
  border-color: #f8f9fa;
}

/*Dropdown-Menu*/

.dropdown{
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: center;
  min-width: 10rem;
  padding: 1rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: black;
  z-index :1;
  background-clip: padding-box;
  border: 1px solid #f8f9fa;
  border-radius: 0.25rem;
}
.dropdown-item {
  display:inline-block;
  width: 100%;
  padding-right:5rem ;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: black;
  z-index :1;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #0175d5;
  text-decoration: none;
  background-color: #f8f9fa;
}

/*Intro*/

.intro{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height:400px;
  width:96%;
  border-radius: 15px;
  margin : 2%;
  margin-left: 2%;
 z-index: 0;

}
.intro-cover{
    margin-top: 20px;
    border-radius: 10px;

}
.intro_col_2{
  font-size: 4rem;
  color:white;
  margin-top: 25px;
}
.download-button{
  margin : 2%;
  font-family: sans-serif;
}

/*middle-container*/

#Singer
{
  margin-top: 100px;
  position: relative;
  background-color: black;
}

/* angular-div */

.angular-div{
  height : 300px;
  width:100%;
  position:relative;
  bottom: 200px;
  transform : skewY(-6deg);
  background-color: black;
}

/* straight div */

.straight{
background-color: black;
  width:100%;
  position:relative;
  bottom:380px;
  padding : 6% 10%;
  ;
}

/*carousel - icons */

.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color:#830606;
	border-radius:28px;
	border:1px solid #830606;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:10px 38px;
	text-decoration:none;
  position: absolute;
  bottom :13px;
}
.carousel-control-prev-icon{
  left : 23px;
}
.carousel-control-next-icon{
  right : 23px;
}

/* carousel-content*/

.cap-1,.cap-3{
  left:800px;
  width : 500px;
  top : 8px;
}
.cap-2{
  left : 80px;
  width : 500px;
  top : 8px;
}
.b-c-1-1 , .b-c-1-2 ,.b-c-2-1 ,.b-c-2-2, .b-c-3-1 , .b-c-3-2{
    font-family: 'Playfair Display', serif;
    text-align: left;
}
.b-c-1-1 , .b-c-2-1 , .b-c-3-1{
  font-size : 300%;
  font-weight : 700;
}
.b-c-3-1 ,.b-c-3-2 ,.b-c-2-1 , .b-c-2-2{
  color : #f1efd4;
}
.b-c-1-1 , .b-c-1-2 {
  color: black;
}






/* for phone */

@media screen and (max-width : 1000px){

    #title{
      padding-bottom: 400px;
    }
    .intro{
      width:98%;
      margin-left: 1%;
    }
    .intro_col_2{
      text-align: center;
      background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
      border-radius: 15px;
      width:98%;
    }
    .intro-description{
      padding-top: 20px;
    }
    .angular-div{
      bottom: 20px;
      transform : skewY(0deg);

    }
  .carousel{
    padding-bottom : 100px;
  }


}
